
@{
    ViewBag.Title = "Fornecedores Cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table id="gridDadosFornecedor" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="Id" data-identifier="true" data-visible="false" data-type="numeric">Código</th>
            <th data-column-id="CNPJ" data-identifier="true" data-type="numeric">CNPJ</th>
            <th data-column-id="RazaoSocial" data-order="asc">Razão Social</th>           
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ação</th>
        </tr>
    </thead>
</table>

<center>
    <p>
        @*@Html.ActionLink("Cadastrar Novo Fornecedor", "Novo")*@
        <input type="button" id="btNovo"  class="btn btn-primary" value="Cadastrar Novo Fornecedor" />
</center>


@section Scripts {
    @Scripts.Render("~/Scripts/Telas/Fornecedor/index.js")
}




