
@{
    ViewBag.Title = "Mensagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<center>
    <div class="alert alert-success" role="alert">
        Convênio Cadastrado com sucesso.<br />
        <a href="@Url.Action("Index","Convenio")" class="alert-link">Voltar</a>
    </div>
 </center>

