@{ 
    ViewBag.Title = "WebClinica - 1.0";
}

@*<center>
    <div class="jumbotron">
        <h1>Painel</h1> 
    </div>
</center>*@
    <div class="row">
        @*<div class="col-md-4">
            <h2>Coluna 1</h2>

        </div>
        <div class="col-md-4">
            <h2>Coluna 2</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Coluna 3</h2>

        </div>*@
    </div>

